<br>

<h1>Store Overview </h1>

<br>

<p> Currently there are <%= @categoriescount %>  catagories with <%= @productcount %> products in stock.</p>

<%= link_to "Add More Products", admin_products_url, class: 'btn btn-sm btn-success' %>
