<br>

<h1>Howdy folks and welcome to Jungle! </h1>

<br>

<p>
This is your go-to one-stop-shop for ridiculously overpriced house plants that you can kill in a month along with your self-esteem! 🌱 

</p>